{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="auth-wrapper">
                        <div class="auth-content">
                            <div class="auth-bg">
                                <span class="r"></span>
                                <span class="r s"></span>
                                <span class="r s"></span>
                                <span class="r"></span>
                            </div>
                            <div class="card">
                                <div class="card-body text-center">
                                    <h1 class="mb-4">Bienvenido a Orange</h1>
                                    <h3 class="mb-4">Puede encontrar las herramientas en la barra lateral izquierda.</h3>
                                    <h4 class="mb-1">Esta aplicacion fue desarrollada por Juan Pablo Gutiérrez Restrepo.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
